*{
    color: #131316;
    
}
body{
    margin: 0;
}




/* Nav Bar */


nav{
    position: fixed;
    width: 100%;
    transition: 0.4s;
}

#nav-header{
    float: left;    
    font-size: 40px;
    margin: 10px;
    height: 40px;

}

#nav-list{
    list-style: none;
    float: right;
    padding: 20px;
}

#nav-list li {
    display: inline;
}

#nav-list > li > a {
    text-decoration: none;
    font-size: 20px;
    padding: 0 10px;
}

#nav-toggle{
    display: none;
    float: right;
}

#nav-toggle.show{
    display: block;
}


nav.sticky{
    transition: 0.4s;
    background-color: white;
}


/* Wrapper */

.wrapper{
    padding-top: 60px;
    min-height: calc(100vh - 160px);
}



/* Rest of Stuff */

.flex-center{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-base{
    padding: 80px 20px;
}

.white-bg{
    background-color: #FBFCEE;
}
body{
    background-color: #A4BAB7;
}


.lighter{
    text-align: center;
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lighter > div{
    background-color: #FBFCEE;
    border-radius: 10px;
    padding: 20px;
}



.lang-plate{
    font-size: 12px;
    padding: 3px;
    color: white;
    margin: 1px;
    font-weight: 700;
    display: inline-block;
}
.html{
    background-color: orangered;
}
.css{
    background-color: purple;
}
.javascript{
    background-color: darkgoldenrod;
}
.python{
    background-color: #2b5b84;
}


/* Projects */
.project-card{
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px;
    background-color: rgb(240,240,240);
    margin: 5px;
    height: 100%;
}

.project-tile{
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(1);
    width: 200px;
    height: 200px;
    color: #FBFCEE;
    background-size: contain;
    font-size: 30px;
}

.project-tile:hover{
    filter: grayscale(0);
    color: #EE6352;
}



/* Form Specific */

.form-field .errorlist{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-style: italic;
}

.form-field input, .form-field textarea{
    border: none;
    background-color: rgb(225, 225, 225);
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
}


.form-field input:focus, .form-field textarea:focus{
    background-color: rgb(240, 240, 240);

}

footer {

}



/* Media Queries */

@media only screen and (max-width: 768px) {
    nav{
        background-color: white;    
    }

    #nav-toggle {
        display: block;
        float: right;
        padding: 20px;
    }

    #nav-list{
        padding-top: 60px;
        float: unset;
        display: none;
    }

    #nav-list li{
        display: block;
        text-align: center;
    }

    #nav-list.show{
        display: block;
    }
    
}



/* Smudge Grid System */
/* 
.container{
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col {
    /* display: inline-flex; */
}

.c12 {
    width: 100%;
}

.c6 {
    width: 50%;
}

.c4 {
    width: 33.333%;
}

.c3 {
    width: 20%;
}

.c2 {
    width: 16.666%
}

.c1{
    width: 8.3%;
}


@media only screen and (min-width: 1200px) {
    .lg12 {
        width: 100%;
    }
    
    .lg6 {
        width: 50%;
    }
    
    .lg4 {
        width: 33.333%;
    }
    
    .lg3 {
        width: 20%;
    }
    
    .lg2 {
        width: 16.666%
    }
    
    .lg1{
        width: 8.3%;
    }
}



@media only screen and (max-width: 1200px) {
    .md12 {
        width: 100%;
    }
    
    .md6 {
        width: 50%;
    }
    
    .md4 {
        width: 33.333%;
    }
    
    .md3 {
        width: 20%;
    }
    
    .md2 {
        width: 16.666%
    }
    
    .md1{
        width: 8.3%;
    }
}



@media only screen and (max-width: 992px) {
    .sm12 {
        width: 100%;
    }
    
    .sm6 {
        width: 50%;
    }
    
    .sm4 {
        width: 33.333%;
    }
    
    .sm3 {
        width: 20%;
    }
    
    .sm2 {
        width: 16.666%
    }
    
    .sm1{
        width: 8.3%;
    }
}


@media only screen and (max-width: 768px) {
    .xs12 {
        width: 100%;
    }
    
    .xs6 {
        width: 50%;
    }
    
    .xs4 {
        width: 33.333%;
    }
    
    .xs3 {
        width: 20%;
    }
    
    .xs2 {
        width: 16.666%
    }
    
    .xs1{
        width: 8.3%;
    }
} */