{% extends "base.html" %}
{% block title %}
Project Directory
{% endblock %}


{% block static %}

{% endblock %}


{% block content %}
<h1>Wow!  You are checking out a project that I made!  Cool!</h1>

<h4>Works in progress</h4>
<div class="row">
    <div class="col-12 col-sm-6 col-3">
        <div class="project-card">
            <h5>Flags</h5>
            <p>A basic canvas game based on old school arcade and gameboy games created for no other reason just to see how certain games can be built.  Game is tile based with tiles.  Walk into the grass and you might get a console message or a random "pokemon" that has attacked you.  Press G for a basic dance animation.</p>
            <a href="https://smoodydev.github.io/flags/">Click Here</a>
        </div>
    </div>
</div>

{% endblock %}

{% block post_load %}

{% endblock %}