{% extends "base.html" %}
{% load static %}
{% block title %}
Project Directory
{% endblock %}


{% block static %}

{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
    {% for project in projects %}

    <div class="card-wrap c12 sm4">
        <div class="project-card">
            <h5>{{ project.name }}</h5>
            <p>{{ project.description }}</p>
            <div
                style="margin: 0 auto; width: 200px; height: 200px; background-image: url({% if project.image %}{% static project.image %}{% else %}{% static 'images/examplecode.jpg' %}{% endif %}); background-size: contain;">
            </div>
            <div>
                <a href="{% url 'project' pid=project.id %}">
                    More Info
                </a>
            </div>
            <div>{% for l in project.languages.all %}<div class="lang-plate {{ l|lower }}">{{ l }}</div>{% endfor %}
            </div>
        </div>


    </div>
     

    {% endfor %}

</div>


</div>




{% endblock %}

{% block post_load %}

{% endblock %}